.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 266px);
    justify-content: space-between;
    row-gap: 60px;
}

.main {
        display: grid;
        grid-template-columns: 300px 1fr;
        padding-bottom: 40px;
    }
.left {
        display: flex;
    }
.right {
        width: 100%;
    }
