@import "../../../style/variables.scss";

.render-poster {
    max-width: 266px;
    // height: 433px;
    border-radius: 10px;
    position: relative;

    .render-poster_img {
        overflow: hidden;
        border-radius: 20px;
        border: solid transparent 1px;
        width: 100%;
        height: 357px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .render-poster_rating {
        position: absolute;
        left: 20px;
        top: 20px;
        padding:5px ;
        border-radius: 8px;
        background-color: $green;
    }
}

.posters-button_wrapper {
    display: flex;
    justify-content: center;

    .button-posters {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 150px;
        border-radius:15px;
        cursor: pointer;
        background-color:var(--colors-bg_input);
        color: var(--colors-title);
        &:hover {
          background-color:  $hover-btn-icon;
          transition: background-color 0.3s ease;  
        }
    }

}