@import '../../../style/variables.scss';

.swiper-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  .swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    justify-content: flex-start;
    align-items: center;

    .swiper-slide {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 40%);
  }

  .swiper-pagination-bullet {
    background-color: $purple;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: $purple;
    position: absolute;
    top: 35%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination,
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 50%;
  }

}

.posters-list_trends {
  .movies-grid_trends {
    padding-top: 50px;
  }

}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}