@import "../../style/variables.scss";

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
}

.sidebar-nav,
.sidebar-nav span {
    color: $gray-text;
    font-weight: bold;
    font-size: 18px;
}

.svg-inline--fa {
    color: $gray-text;
}

.sidebar-nav_item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 40px;

    &:hover * {
        color: $purple;
    }

    svg {
        padding-right: 10px;
    }
    &:last-child {
        padding-bottom: 0;
      }
   
}
 li.highlighted *{
    color: $purple;
 }