@media (max-width:1030px) {
    .container {
        .signin-form {
            padding: 20px;

            input,
            button {
                height: 45px;
            }

            h2 {
                font-size: 20px;
                padding-bottom: 20px;
            }

            p {
                padding-bottom: 12px;
            }
        }
    }
}

@media (max-width:769px) {
    .container {
        padding: 0 30px;

        h3 {
            font-size: 20px;
        }

        .app-left {
            display: none;
        }

        header {
            padding: 30px 0px;
            grid-template-columns: 225px 1fr;

            .header-logo {
                width: 70%;
            }

            .header-login {
                display: none;
            }
        }

        .render-poster {
            width: 208px;
        }

        .render-poster_img {
            height: 279px;
        }

        .main {
            display: grid;
            grid-template-columns: 100% 1fr;
            padding-bottom: 40px;
        }

        .movies-grid {
            grid-template-columns: repeat(auto-fill, 201px);
            row-gap: 40px;
        }

        .sidebar-wrapper {
            position: fixed;
            background-color: var(--colors-bg_sort);
            z-index: 10;
            padding: 20px 40px;
            right: 0px;
            top: 0px;
            height: 100vh;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            z-index: 20;
        }

        .footer {
            position: static;
            justify-content: flex-end;
        }

        .filter {
            width: 50%;
            z-index: 100;

            & button {
                padding: 0;
                height: 40px;
            }

            &-wrapper {
                padding: 54px 20px;
            }

            &-years_input {
                height: 40px;
            }
        }

        .footer p {
            font-size: 12px;
        }

        .success-wrapper {
            .success-main {
                padding: 20px;

                button {
                    margin-bottom: 0px;
                }
            }
        }

    }

}

@media (max-width:426px) {
    .container {

        .movies-grid {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .settings-wrapper .profile-wrapper,
        .settings-wrapper .password-wrapper,
        .settings-wrapper .color-wrapper {
            padding: 20px;
        }

        .color-wrapper {
            flex-wrap: nowrap
        }

        .password-wrapper,
        .profile-wrapper {
            flex-wrap: nowrap;
            flex-direction: column;
        }

        .password-new,
        .password-confirm,
        .password-start,
        .profile-email,
        .profile-name {
            width: 100%;

        }

        .password-new,
        .profile-name {
            padding-bottom: 30px;
        }

        .render-poster {
            width: 273px;
        }

        .render-poster_img {
            height: 365px;
        }

        h3 {
            font-size: 20px;
        }

        .header {
            position: relative;
            display: block;

            .header-logo {
                width: 60%;
                padding-bottom: 30px;
            }

            & .icon-search {
                right: 57px;
            }

            & .icon-filter {
                right: 20px;
            }

            &-search {
                padding-right: 0px;

                &_input {
                    padding-left: 10px;
                }
            }

            .burger-menu {
                position: absolute;
                top: 30px;
                right: 0px;
            }
        }

        .filter {
            width: 100%;
            border-radius: 0px;
        }

        .detail-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .detail-img_wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                width: 100%;
                padding-bottom: 20px;
            }

            .detail-info_wrapper {
                width: 100%;
            }

            .detail-btn_wrapper {
                width: 100%;
            }

            .detail-img_img {
                height: 365px;
                width: 273px;
            }
        }

        .footer p {
            font-size: 10px;
        }

        .signin-form {
            width: 70%;
        }

        .success-wrapper {
            .success-main {
                width: 70%;
                h3 {
                    font-size: 15px;
                    padding-bottom: 20px;
                }

                button {
                    height: 40px;
                }
            }
        }
    }

}

@media (max-width:375px) {
    .container {
        .header {
            .burger-menu {
                top: 25px;

                @media (max-width:320px) {
                    top: 23px;
                }
            }
        }

    }
}