@import "../style/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 266px);
    justify-content: space-between;
    row-gap: 60px;
    padding-bottom: 35px;
}

.main {
        display: grid;
        grid-template-columns: 300px 1fr;
        padding-bottom: 40px;
    }
.left {
        display: flex;
    }
.right {
        width: 100%;
    }

h3 {
    font-size: 24px;
}

p {
    color: var(--colors-text);
  }

* {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border:none;
}

input::placeholder {
    padding-left: 10px; 
  }

button {
    cursor: pointer;
    border: none;
}

.container {
    margin: auto;
    padding: 0 40px;
}

.svg-inline--fa {
    color: $gray-text;
}

.svg-inline--fa:hover {
    color:   $purple-hover-btn;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}


a {
    text-decoration: none;
    display: inline-block;
    color: inherit; 
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

// .app {
//     width: 1100px;
//     margin: 0 auto;
//     padding: 50px 0 50px 0;
//     position: relative;
//     .bg-decoration {
//         position: absolute;
//         right: -174px;
//         bottom: -70px;
//         z-index: -1;
//     }
// }

// .pulse {
//     animation: pulse 1.5s ease-in-out .5s infinite
// }

// @keyframes pulse {
//     0% {
//         opacity: 1
//     }
//     50% {
//         opacity: .4
//     }
//     100% {
//         opacity: 1
//     }
// }