$purple: rgba(123, 97, 255, 1);
$purple-hover-btn: rgba(145, 124, 255, 1);
$gray-text: rgba(128, 133, 139, 1);
$white-text:rgba(255, 255, 255, 1);
$background-graphite: rgba(50, 53, 55, 1);
$background-black:rgba(0, 0, 0, 1);
$background-dark:rgba(36, 36, 38, 1);
$green: rgba(0, 163, 64, 1);
$orange:rgba(244, 93, 45, 1);
$yellow:rgba(243, 166, 8, 1);
$default-btn-icon: #80858b;
$hover-btn-icon: rgba(175, 178, 182, 1);